@font-face {
  font-family: Foodpacker;
  src: url('../fontes/foodpacker/Foodpacker.otf');

  /* font-family: Foodpacker , Arial , Helvetica , sans-serif; */
}

@font-face {
  font-family: Roboto;
  src: url('../fontes/Roboto/Roboto-Thin.ttf');

  /* font-family: Roboto , Arial , Helvetica , sans-serif; */
}

@font-face {
  font-family: Roboto2;
  src: url('../fontes/Roboto/Roboto-Light.ttf');

  /* font-family: Roboto2 , Arial , Helvetica , sans-serif; */
}

@font-face {
  font-family: Roboto3;
  src: url('../fontes/Roboto/Roboto-Medium.ttf');

  /* font-family: Roboto3 , Arial , Helvetica , sans-serif; */
}

/* CSS HEX */
:root {

  --card: white;

  --bg: #f5f5f5ff;

  --shadow: #e6e6e6ff;

  --orange3: rgb(255, 123, 0);

  --orange2: #ff810cff;

  --orange1: #ff8717ff;

  --yellow: #ffc800ff;
}

.imgRecipeDetailDrink {
  border-radius: 0 0 10px 10px;
  box-shadow: 0 7px 18px 0 rgb(207, 202, 202);
  height: 250px;
  width: 100%;
}

.subBoxHeader {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 5px;
  width: 100%;
}

.boxTitlesDrink {
  display: flex;
  flex-flow: row wrap;
  width: 70%;
}

.titleDetailDrink {
  font-family: Roboto3 , Arial , Helvetica , sans-serif;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-top: 10px;
  width: 100%;
}

.categoryRecipeDrink {
  font-family: Roboto2 , Arial , Helvetica , sans-serif;
  margin-bottom: 10px;
  margin-left: 10px;
}

.boxMediaIcons {
  display: flex;
  justify-content: space-around;
  width: 100px;
}

.shareIconDrink {
  margin-bottom: 20px;
  margin-top: -8px;
  width: 30px;
}

.favoriteIconDrink {
  margin-bottom: 20px;
  margin-top: -8px;
  width: 30px;
}

.boxIngredientsDrink {
  margin-left: 10px;
  width: 95%;
}

.titleIngredientsDrink {
  font-family: Roboto2 , Arial , Helvetica , sans-serif;
  margin-bottom: 5px;
}

.boxListIngredientsDrink {
  font-family: Roboto2 , Arial , Helvetica , sans-serif;
  margin-left: 10px;
}

.ingredientLineDrink {
  font-family: Roboto2 , Arial , Helvetica , sans-serif;
}

.boxInstructions {
  margin-left: 10px;
  width: 95%;

}

.titleBoxInstructions {
  font-family: Roboto2 , Arial , Helvetica , sans-serif;
  margin-bottom: 5px;
  margin-top: 10px;
}

.textOfInstructions {
  font-family: Roboto2 , Arial , Helvetica , sans-serif;
}

.boxRecomendations {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: Roboto2 , Arial , Helvetica , sans-serif;
  width: 360px;
}

.titleRecomendationDrink {
  align-self: start;
  display: flex;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-top: 20px;
}

.btnInitRecipeDrink {
  background-color: rgb(192, 178, 140);
  border: solid rgb(245, 189, 35) 2px;
  border-radius: 5px;
  border-style: ridge;
  bottom: 0;
  color: black;
  font-size: 15px;
  font-weight: 900;
  height: 30px;
  margin-left: 15%;
  margin-top: 610px;
  position: fixed;
  width: 70%;
}

.btnInitRecipeDrink:hover {
  background-color: rgb(245, 189, 35);
  border: solid rgb(245, 189, 35) 2px;
  border-radius: 5px;
  border-style: ridge;
  box-shadow: 0 0 1em black;
  color: black;
  cursor: pointer;
  font-size: 15px;
  font-weight: 900;
  height: 35px;
  margin-left: 10%;
  margin-top: 605px;
  position: fixed;
  width: 250px;
}

h5 {
  font-family: Roboto2 , Arial , Helvetica , sans-serif;
}
