@font-face {
  font-family: Foodpacker;
  src: url('../fontes/foodpacker/Foodpacker.otf');

  /* font-family: Foodpacker , Arial , Helvetica , sans-serif; */
}

@font-face {
  font-family: Roboto;
  src: url('../fontes/Roboto/Roboto-Thin.ttf');

  /* font-family: Roboto , Arial , Helvetica , sans-serif; */
}

@font-face {
  font-family: Roboto2;
  src: url('../fontes/Roboto/Roboto-Light.ttf');

  /* font-family: Roboto2 , Arial , Helvetica , sans-serif; */
}

@font-face {
  font-family: Roboto3;
  src: url('../fontes/Roboto/Roboto-Medium.ttf');

  /* font-family: Roboto3 , Arial , Helvetica , sans-serif; */
}

/* CSS HEX */
:root {

  --card: white;

  --bg: #f5f5f5ff;

  --shadow: #e6e6e6ff;

  --orange3: rgb(255, 123, 0);

  --orange2: #ff810cff;

  --orange1: #ff8717ff;

  --yellow: #ffc800ff;
}

.imgRecipeDetailFood {
  border-radius: 0 0 10px 10px;
  box-shadow: 0 7px 18px 0 rgb(207, 202, 202);
  height: 250px;
  width: 100%;
}

.subBoxHeader {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 5px;
  width: 100%;
}

.titleIngredientsFood {
  font-family: Roboto2 , Arial , Helvetica , sans-serif;
  margin-bottom: 5px;
}

.boxTitlesFood {
  display: flex;
  flex-flow: row wrap;
  width: 70%;
}

.titleDetailFood {
  font-family: Roboto3 , Arial , Helvetica , sans-serif;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-top: 10px;
  width: 100%;
}

.ingredientLineFood {
  font-family: Roboto2 , Arial , Helvetica , sans-serif;
}

.categoryRecipeFood {
  font-family: Roboto2 , Arial , Helvetica , sans-serif;
  margin-bottom: 10px;
  margin-left: 10px;
}

.boxMediaIcons {
  display: flex;
  justify-content: space-around;
  width: 100px;
}

.shareIconFood {
  margin-bottom: 20px;
  margin-top: -8px;
  width: 30px;
}

.favoriteIconFood {
  margin-bottom: 20px;
  margin-top: -8px;
  width: 30px;
}

.boxIngredientsFood {
  margin-left: 10px;
  width: 95%;
}

/* .titleIngredientsFood {} */
.boxListIngredientsFood {
  margin-left: 10px;
}

/* .ingredientLineFood {} */
.boxInstructions {
  margin-left: 10px;
  width: 95%;

}

/* .titleBoxInstructions {} */
.boxVideo {
  margin-bottom: 40px;
  width: 100%;
}

.titleBoxVideo {
  font-family: Roboto2 , Arial , Helvetica , sans-serif;
  margin-bottom: 15px;
  margin-left: 10px;
  margin-top: 40px;
}

.textOfInstructions {
  font-family: Roboto2 , Arial , Helvetica , sans-serif;
  margin-bottom: 5px;
  margin-top: 10px;
}

.boxRecomendations {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 360px;
}

.titleRecomendationDrink {
  align-self: start;
  display: flex;
  margin-bottom: 5px;
  margin-left: 10px;
  margin-top: 10px;
}

.btnInitRecipeFood {

  /*
  background-color: rgb(255, 123, 0);
  border: none;
  border-radius: 20px;
  box-shadow: 2px 2px 4px var(--shadow);
  color: var(--card);
  font-family: Roboto2 , Arial , Helvetica , sans-serif;
  font-size: 15px;
  font-weight: 900;
  height: 30px;
  position: fixed;
  width: 120px;
  */
  background-color: rgb(255, 123, 0);
  border: none;
  border-radius: 20px;
  bottom: 0;
  color: white;
  font-family: Roboto2 , Arial , Helvetica , sans-serif;
  font-size: 15px;
  font-weight: 900;
  height: 30px;
  letter-spacing: 0.7px;
  margin-left: 28%;
  margin-top: 610px;
  position: fixed;
  width: 40%;
}

/* .btnInitRecipeFood:hover {
  background-color: rgb(245, 189, 35);
  border: solid rgb(245, 189, 35) 2px;
  border-radius: 5px;
  border-style: ridge;
  box-shadow: 0 0 1em black;
  color: black;
  cursor: pointer;
  font-size: 15px;
  font-weight: 900;
  height: 35px;
  margin-left: 10%;
  margin-top: 605px;
  position: fixed;
  width: 250px;
} */

/* .boxMsgFinished {} */

/* .msgRecipeFinished {} */

/* .btnDoItAgain {} */
