* {
  box-sizing: border-box;
  margin: 0;
  top: 0;
}

.boxLogin {
  align-items: center;
  background-color: rgb(37, 35, 30);

  /* background: url('/src/images/backgrounLogin.jpg');
  background-repeat: no-repeat;
  background-size: cover; */
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.titleApp {
  background-color: none;
  border: none;
  color: whitesmoke;
  font-size: 40px;
  margin-bottom: 25px;
  margin-top: 15px;
  text-shadow: 0 0 0.5em rgb(245, 189, 35) , 2px 2px 4px rgb(245, 189, 35);
}

.boxInputsLogin {
  align-items: center;

  /* background-color: rgba(37, 35, 30, 0.944); */
  background-color: rgba(192, 178, 140, 0.947);
  border: solid rgb(245, 189, 35) 5px;
  border-radius: 30px;
  border-style: ridge;
  box-shadow: 0 0 0.85em rgb(245, 189, 35);
  display: flex;
  flex-direction: column;
  height: 75vh;
  justify-content: flex-start;
  width: 80%;
}

.subTitleLogin {
  color: black;
  font-size: 24px;
  font-weight: 900;
  margin-bottom: 30px;
  margin-top: 30px;
  text-decoration: underline;
}

.labelInput {
  align-items: center;
  background-color: rgb(192, 178, 140);
  border: solid rgb(245, 189, 35) 2px;
  border-radius: 5px;
  border-style: ridge;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  font-weight: 900;
  margin-bottom: 45px;
  padding: 20px;
  width: 75%;
}

.inputEmail {
  border-radius: 2px;
  margin-top: 5px;
  text-align: center;
  width: 180px;
}

.inputPassword {
  border-radius: 2px;
  margin-top: 5px;
  text-align: center;
  width: 180px;
}

.btnLogin {
  border: solid rgb(245, 189, 35) 2px;
  border-radius: 5px;
  border-style: ridge;
  color: black;
  font-size: 15px;
  font-weight: 900;
  height: 35px;
  text-transform: uppercase;
  width: 120px;
}

.btnLogin:hover {
  background-color: rgb(245, 189, 35);
  border: solid rgb(245, 189, 35) 2px;
  border-radius: 5px;
  border-style: ridge;
  box-shadow: 0 0 1em black;
  color: black;
  cursor: pointer;
  font-weight: 900;
  height: 35px;
  text-transform: uppercase;
  width: 120px;
}

/** Para a Imagem de fundo da entrada */

/** background: url(/src/images/backgrounLogin.jpg);
  background-repeat: no-repeat;
  background-size: contain; */
