@font-face {
  font-family: Foodpacker;
  src: url('../fontes/foodpacker/Foodpacker.otf');
}

@font-face {
  font-family: Roboto;
  src: url('../fontes/Roboto/Roboto-Thin.ttf');
}

@font-face {
  font-family: Roboto2;
  src: url('../fontes/Roboto/Roboto-Light.ttf');
}

/* CSS HEX */
:root {

  --card: white;

  --bg: #f5f5f5ff;

  --shadow: #e6e6e6ff;

  --orange3: rgb(255, 123, 0);

  --orange2: #ff810cff;

  --orange1: #ff8717ff;

  --yellow: #ffc800ff;
}


* {
  box-sizing: border-box;
  margin: 0;
  top: 0;
}

.boxLogin {
  align-items: center;
  background-color: var(--card);

  /* background: url('/src/images/backgrounLogin.jpg');
  background-repeat: no-repeat;
  background-size: cover; */
  display: flex;
  flex-direction: column;
  height: 80vh;
  width: 100%;
}

.titleApp {
  color: var(--orange1);
  font-family: Foodpacker , Arial , Helvetica , sans-serif;
  font-size: 40px;
  margin-bottom: 25px;
  margin-top: 15px;
  text-shadow: var(--shadow);
}

.boxInputsLogin {
  align-items: center;
  background-color: var(--card);
  border: none;
  border-radius: 30px;
  box-shadow: 0 0 0.85em var(--shadow);
  display: flex;
  flex-direction: column;
  height: 60vh;
  justify-content: flex-start;
  width: 70%;
}

.subTitleLogin {
  color: var(--orange1);
  font-family: Roboto2 , Arial , Helvetica , sans-serif;
  font-size: 24px;
  font-weight: 900;
  margin-bottom: 30px;
  margin-top: 30px;
}

.labelInput {
  align-items: center;
  background-color: var(--card);
  border-radius: 5px;
  box-shadow: 0 0 0.85em var(--shadow);
  color: var(--orange3);
  display: flex;
  flex-direction: column;
  font-family: Roboto , Arial , Helvetica , sans-serif;
  font-size: 15px;
  font-weight: 900;
  margin-bottom: 30px;
  padding: 20px;
  width: 75%;
}

.inputEmail {
  border-color: var(--orange1);
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  margin-top: 5px;
  text-align: center;
  width: 180px;
}

.inputPassword {
  border-color: var(--orange1);
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  margin-top: 5px;
  text-align: center;
  width: 180px;
}

.btnLogin {
  background-color: rgb(255, 123, 0);
  border: none;
  border-radius: 20px;
  box-shadow: 2px 2px 4px var(--shadow);
  color: var(--card);
  font-family: Roboto2 , Arial , Helvetica , sans-serif;
  font-size: 15px;
  font-weight: 900;
  height: 35px;
  overflow: hidden;
  position: relative;
  width: 120px;
}

.label {
  position: relative;
  top: -1px;
}

.transition {
  background-color: white;
  border-radius: 9999px;
  height: 0;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  width: 0;
}

button:hover .transition {
  height: 14em;
  width: 14em;
}

button:active {
  transform: scale(0.97);
}

/** Para a Imagem de fundo da entrada */

/** background: url(/src/images/backgrounLogin.jpg);
  background-repeat: no-repeat;
  background-size: contain; */
