@font-face {
  font-family: Foodpacker;
  src: url(../fontes/foodpacker/Foodpacker.otf);
}

@font-face {
  font-family: Roboto;
  src: url(../fontes/Roboto/Roboto-Thin.ttf);
}

@font-face {
  font-family: Roboto2;
  src: url(../fontes/Roboto/Roboto-Light.ttf);
}

/* CSS HEX */
:root {

  --card: white;

  --bg: #f5f5f5ff;

  --shadow: #e6e6e6ff;

  --orange3: #ff7b00ff;

  --orange2: #ff810cff;

  --orange1: #ff8717ff;

  --yellow: #ffc800ff;
}


* {
  box-sizing: border-box;
  margin: 0;
  top: 0;
}

.boxLogin {
  align-items: center;
  background-color: var(--bg);

  /* background: url('/src/images/backgrounLogin.jpg');
  background-repeat: no-repeat;
  background-size: cover; */
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.titleApp {
  color: var(--orange1);
  font-family: Foodpacker;
  font-size: 40px;
  margin-bottom: 25px;
  margin-top: 15px;
  text-shadow: var(--shadow);
}

.boxInputsLogin {
  align-items: center;
  background-color: var(--card);
  border: none;
  border-radius: 30px;
  box-shadow: 0 0 0.85em var(--shadow);
  display: flex;
  flex-direction: column;
  height: 75vh;
  justify-content: flex-start;
  width: 80%;
}

.subTitleLogin {
  font-family: Roboto2;
  color: var(--orange1);
  font-size: 24px;
  font-weight: 900;
  margin-bottom: 30px;
  margin-top: 30px;
}

.labelInput {
  align-items: center;
  background-color: var(--card);
  border-radius: 5px;
  box-shadow: 0 0 0.85em var(--shadow);
  display: flex;
  flex-direction: column;
  font-family: Roboto;
  color: var(--orange3);
  font-size: 15px;
  font-weight: 900;
  margin-bottom: 45px;
  padding: 20px;
  width: 75%;
}

.inputEmail {
  border-color: var(--orange1);
  border-radius: 10px;
  border-width: 1px;
  margin-top: 5px;
  text-align: center;
  width: 180px;
}

.inputPassword {
  border-color: var(--orange1);
  border-radius: 10px;
  border-width: 1px;
  margin-top: 5px;
  text-align: center;
  width: 180px;
}

.btnLogin {
  background-color: var(--orange2);
  border: none;
  border-radius: 20px;
  color: var(--card);
  font-size: 15px;
  font-weight: 900;
  height: 35px;
  text-transform: uppercase;
  width: 120px;
}

.btnLogin:hover {
  background-color: var(--orange2);
  border: none;
  box-shadow: 0 0 1em black;
  cursor: pointer;
  font-weight: 900;
  height: 35px;
  text-transform: uppercase;
  width: 120px;
}

/** Para a Imagem de fundo da entrada */

/** background: url(/src/images/backgrounLogin.jpg);
  background-repeat: no-repeat;
  background-size: contain; */
