.boxFilters {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  height: 75px;
  justify-content: space-evenly;
  margin-bottom: 3px;
  margin-top: 3px;
  width: 100%;
}

.btnCategory {
  border: solid rgb(245, 189, 35) 2px;
  border-radius: 5px;
  border-style: ridge;
  color: black;
  font-weight: 900;
  height: 30px;
  width: 115px;
}

.btnCategory:hover {
  background-color: rgb(245, 189, 35);
  border: solid rgb(245, 189, 35) 2px;
  border-radius: 5px;
  border-style: ridge;
  box-shadow: 0 0 0.7em black;
  color: black;
  cursor: pointer;
  font-weight: 900;
  height: 30px;
  width: 115px;
}
