.boxCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
}

.eachCard {
  display: flex;
  flex-direction: column;
  margin: 1px;
  max-width: 160px;
  text-align: center;
}

.imgCard {
  border: solid 3px rgb(210, 162, 20);
  border-radius: 30px;
  border-style: ridge;
}

.titleCard {
  color: black;
}
