.boxFooter {
  align-content: flex-end;
  background-color: rgb(199, 150, 27);
  bottom: 0;
  display: flex;
  flex-direction: row;
  height: 60px;
  justify-content: space-between;
  margin-top: 595px;
  position: fixed;
  width: 100%;
}
